*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Cairo',sans-serif;
background:#090b12;
background-image:
radial-gradient(circle at top,#2d2300 0%,transparent 40%),
radial-gradient(circle at bottom,#111827 0%,transparent 50%);
color:#fff;
overflow-x:hidden;
}

.container{
width:100%;
max-width:650px;
margin:auto;
padding:18px;
}

.hero{
background:#161923;
border:2px solid #caa33b;
border-radius:28px;
padding:35px 20px;
text-align:center;
margin-bottom:30px;
box-shadow:0 0 30px rgba(255,215,0,.08);
}

.hero-icon{
font-size:70px;
margin-bottom:15px;
}

.hero h1{
font-size:38px;
font-weight:800;
color:#ffd54a;
line-height:1.5;
margin-bottom:12px;
text-shadow:0 0 12px rgba(255,215,0,.25);
}

.hero p{
font-size:20px;
color:#ddd;
line-height:1.8;
}

.cards{
display:flex;
flex-direction:column;
gap:22px;
margin-top:20px;
}

.card{
display:block;
text-decoration:none;
background:#191c25;
border:2px solid #caa33b;
border-radius:26px;
padding:30px;
text-align:center;
transition:.35s;
box-shadow:0 8px 20px rgba(0,0,0,.35);
}

.card:hover{
transform:translateY(-5px);
background:#202430;
box-shadow:0 0 25px rgba(255,215,0,.20);
}

.card-icon{
font-size:58px;
margin-bottom:18px;
}

.card h2{
font-size:34px;
color:#ffd54a;
margin-bottom:10px;
font-weight:800;
}

.card p{
font-size:21px;
color:#d5d5d5;
  
}
footer{

margin-top:45px;

padding:25px;

text-align:center;

font-size:18px;

color:#c7c7c7;

line-height:2;

}

footer b{

color:#FFD54A;

font-size:20px;

}

.card:active{

transform:scale(.98);

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-track{

background:#111;

}

::-webkit-scrollbar-thumb{

background:#caa33b;

border-radius:20px;

}

@media(max-width:600px){

.hero{

padding:28px 18px;

}

.hero-icon{

font-size:58px;

}

.hero h1{

font-size:29px;

}

.hero p{

font-size:17px;

}

.card{

padding:24px;

}

.card-icon{

font-size:48px;

}

.card h2{

font-size:28px;

}

.card p{

font-size:18px;

}

}
